 .html {
	padding: 10px;
  }
 .card {
	padding: 5px;
    font-family: 'Roboto', sans-serif; 
    font-size: '56px' !important;
    background-color: #4B0082 !important; 
height: 275px
  }

 .card span {
	
	padding: 5px;
    font-family: 'arial', sans-serif; 
    font-size: small !important;
    background-color: #FFFFFF !important; 
height: 275px
  }
  .card-body {
    font-family: 'Roboto', sans-serif; 
color: #C0C0C0 !important;
    background-color: #4B0082 !important;

  }


  .card-body span{
    font-family: 'Roboto', sans-serif; 
color: #000000 !important;
    background-color: #C0C0C0 !important;
font-weight: bold;


  }

  .link {
    font-family: 'Roboto', sans-serif; 
color: #ff0000 !important;
background-color: #00eeff !important;
}


  .link span {
      font-family: 'Roboto', sans-serif; 
  color: #ff0000 !important;
      background-color: #C0C0C0 !important;
  }

  .nav-link span {
    font-family: 'Roboto', sans-serif; 
color: #000000 !important;
    background-color: #C0C0C0 !important;

  }


Nav-Item {
    font-family: 'Roboto', sans-serif;
    color:  #FFFFFF !important;
  }

img {
   width: 115px;
   height: 115px;
}